project:
  type: website
  output-dir: docs # to publish website on GithubPages
# --- By default, all valid Quarto input files (.qmd, .ipynb, .md, .Rmd) 
#  will be rendered (NO .file, _dir/)
  render:
    - "*.qmd"
    - "!R_resources/"
    - "!zzz_old"
    # # RIINSERIRE DOPO !!!!
    # - "!lectures/lec02_inference.qmd"
    # - "!lectures/lec03_corr_regress.qmd"
    # - "!lectures/lec04_intro_ML.qmd"
    # - "!practice/lab02_inference.qmd"
    # - "!practice/lab03_corr_regress.qmd"
    # - "!practice/lab04_intro_ML.qmd"

execute:
  freeze: auto  # Re-render only when source changes

bibliography: bib/R4biostats.bib
csl: bib/apa-6th-edition.csl

website:
  title: "R 4 stats"
  description: "Code and supplementary materials for the ...."
  site-url: "{{< var websites.live_site >}}" # "https://lulliter.github.io/R4stats/" 
 #### ---  Account Google Analytics "Lulliter github (UA-128632724)" collegato a https://r4biostats.com/
  # google-analytics: "G-51QEQ3S83R"
  repo-url: "{{< var websites.gh_repo >}}" #  "https://github.com/Lulliter/R4stats"
#  repo-actions: [edit, issue]
  favicon: images/icons8_hist_96.png
  search: false # no magnifier on navbar 

  page-footer:
    left: |
      {{< fa brands creative-commons >}}
      {{< fa brands creative-commons-by >}} {{< fa brands creative-commons-nc >}} {{< fa brands creative-commons-sa >}}
      [CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) <br> M. Chiara Mimmi & Luisa M. Mimmi 2024
    right: |
      Made with {{< fa brands r-project >}} and [Quarto](https://quarto.org/) <br> 
      [Code at {{< fa brands github >}} GitHub]("{{< var websites.gh_repo >}}")

    background: "#e3eff7"
#     left: |
#      {{< fa regular copyright >}} M. Chiara Mimmi & Luisa M. Mimmi 2024
#       {{< fa brands creative-commons >}} 2024 M. Chiara Mimmi<br>
#       License {{< fa brands creative-commons >}}
#       {{< fa brands creative-commons-by >}} {{< fa brands creative-commons-nc >}} {{< fa brands creative-commons-sa >}}
#       [CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/)
    # right: |
    #   Made with {{< fa brands r-project >}} and [Quarto](https://quarto.org/)<br>
    #   [Code at {{< fa brands github >}} GitHub](https://github.com/Lulliter/R4biostats)

  page-navigation: true
  
  navbar:
#    logo: images/MITGEST_logo.jpeg
    pinned: true # non si muove quando scorro la pagina 
    background: "#72aed8" # "#0084e6" "#EE6A24"
    right:
      - text: "Home"
        icon: house-fill # https://icons.getbootstrap.com/?q=home
        href: index.qmd
      - text: "Pre-Workshop"
        icon: download # code-square # https://icons.getbootstrap.com/?q=home
        href: install.qmd
      - text: "Syllabus"
        icon: book-fill # code-square # https://icons.getbootstrap.com/?q=home
        href: syllabus.qmd
      - text: "Lectures"
        icon: easel-fill # https://icons.getbootstrap.com/?q=home
        menu: 
          - text: "Intro to R and data analysis"
            href: lectures/lec01_data_with_R.qmd
          - text: "Statistical inference & hypothesis testing"
            href: lectures/lec02_inference.qmd
          - text: "Modeling correlation and regression"
            href: lectures/lec03_corr_regress.qmd
          - text: "Intro to machine learning"
            href: lectures/lec04_intro_ML.qmd
      - text: "{{< fa brands r-project >}} Labs"
        # icon: terminal-fill #  archive-fill # https://icons.getbootstrap.com/?q=home
        # href: practice.qmd
        menu: 
          - text: "Lab: Intro to R and data analysis"
            href: practice/lab01_data_with_R.qmd
          - text: "Lab: Statistical inference & hypothesis testing"
            href: practice/lab02_inference.qmd
          - text: "Lab: Modeling correlation and regression"
            href: practice/lab03_corr_regress.qmd
          - text: "Lab: Intro to machine learning"
            href: practice/lab04_intro_ML.qmd
      # - text: "About"
      #   icon: mortarboard-fill #person-circle # https://icons.getbootstrap.com/?q=home
      #   href: me.qmd
      - text: "Acknowledgements"
        icon: bookmark-heart-fill # code-square # https://icons.getbootstrap.com/?q=home
        href: license_etc.qmd
        
# ## ---- non mi piace sul lato 
#   sidebar:
#     tools:
#       - icon: github
#         menu:
#           - text: Source Code
#             url:  https://github.com/Lulliter/R4biostats

format:
  html:
    toc: true
    toc-location: "left"
    code-link: true
    anchor-sections: true
    fig-cap-location: margin
    reference-location: margin
    footnotes-hover: true
    fontsize: 1em
    theme: theme/Lulas_theme.scss
    # css: theme/styles.css
    ##----- code highlighting style 
    highlight-style: monokai # atom-one # github # dracula  
    mainfont: "Lato"
    monofont: "Fira Mono" 



