/*-- scss:defaults --*/

// fonts
// MINE @import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
// LULA @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color: #00589b; //Pantone 19
$presentation-title-slide-text-align: "left";
$presentation-subtitle-slide-text-align: "left";
$code-block-font-size: 0.6em;
$code-color: #d02e4c; /* #5f5f5f; */ 
$presentation-h2-font-size: 1.4em;

$primary: #42009b; // #8facb4;

/*-- scss:rules --*/

.reveal .custom-title {
  position: absolute;
  color: #00589b;
  font-size: 3em;
  text-align: right;
  right: 20px;
  top: -200px;
}

.reveal .custom-author {
  position: absolute;
  font-size: 1.4em;
  text-align: right;
  right: 20px;
  top: 300px;
}

.reveal .custom-twitter a {
  position: absolute;
  color: #1DA1F2;
  font-size: 1.3em;
  text-align: right;
  right: 20px;
  top: 470px;
}

.reveal .custom-url a {
  position: absolute;
  color: #00589b;
  font-size: 1.5em;
  text-align: right;
  right: 20px;
  top: 570px;
}

details>summary {
  font-size: 0.75em;
}

.small {
  font-size: 0.75em;
}

.reveal .slide .in-out {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 1em;
  background: #E8E8E8;
  font-family: $font-family-monospace;
  font-size: 0.6em;
}


.reveal .slide .goal {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 1em;
  background: #ccddeb;
}


// replicate the CSS for a callout box with a custom title, icon, and default appearance
// FROM https://github.com/melissavanbussel/YouTube-Tutorials/blob/main/quarto_custom_callouts/custom.scss
// ... 

// Lula's additions 
// make the bold text more visible (also with color)
.reveal .slide b, strong {
  color: #004a82;
  //font-family: "Source Sans Pro", Helvetica, sans-serif;
}

// make title of slide adjust dinamically to fit in one line  
.reveal .slide.fit-title h1 {
  font-size: calc(1.5vw + 1em); /* Adjust the size dynamically */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
